.pipeline {
    background-color: #fffd93;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

#addPipelineButton{
    display: block;
}

.addTaskButton{
    display: block;
    margin: 10px;
}